body {
    margin: 0;
    padding: 0;
}

.btn_cont {
    width: 100vw;
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
}

.sub_btn {
    border: 1px solid cyan;
    outline: none;
    width: 90px;
    height: 30px;
    border-radius: 16px;
    background: none;
}

.play_pause_btn {
    border: 1px solid cyan;
    outline: none;
    width: 90px;
    height: 50px;
    border-radius: 20px;
    background: none;
}
#waveform{
    margin-top: 100px;
}